<form class="online-tools">
    <h2>Compress/Minify Text</h2>
    <p>Paste your text in the box below and then click the button.</p>
    <p><label for="oldCode">The new compressed text will appear at the bottom of the page.</label></p>
    <p><textarea id="oldCode" name="oldCode" rows="9" cols="100" [(ngModel)]="plainText"></textarea></p>
    <p><input id="headstatus" name="headstatus" value="true" type="checkbox" [(ngModel)]="isHeadCompress"> <label for="headstatus">Don't compress HTML head of document</label></p> 
    <p><button type="button" (click)="onCompressText()" class="btn btn-primary" id="HTMLcompressor">Compress HTML</button><button type="button" class="btn btn-secondary" style="margin-left:10px;" id="clearText" (click)="plainText='';compressedText='';">Reset</button></p>
    <h2>New Compressed HTML</h2>
    <p class="flat"><label for="newCode">Copy your compressed text from the box below.</label></p>
    <p><textarea id="newCode" name="newCode" rows="12" cols="100">{{compressedText}}</textarea></p>
    <p>
    <button type="button" name="copyClip" id="copyClip"  class="btn btn-primary" (click)="onCopyToClipboard()">Copy</button>
    </p>
</form>