<br>
<!-- <form [formGroup]="decForm" (ngSubmit)="submit()">
    <div class="form-group">
    <label>Encryted Data</label>
    <textarea class="form-control" rows="3" formControlName="queryBox"></textarea>
  </div>
  <br>
  <div class="row">
    <div class=" col-3 form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="base64Check">
      <label class="form-check-label">Is this Base64 encoded Data.</label>
    </div>
    <div class="col-3 form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="dualCheck">
      <label class="form-check-label">Dual Decryption</label>
    </div>
  
  </div>
  <br>
  <div class="form-group">
    <label for="exampleFormControlInput1">Session ID</label>
    <input type="text" class="form-control" 
    placeholder="Please enter session id" 
    formControlName="sessioId">

  </div>
<br>
<div class="btn btn-success btn-sm" [ngClass]="!isJson ? 'hidden' : ''" (click)="prettifyJSON()">prettify JSON</div>
<div class="btn btn-danger btn-xs" [ngClass]="!isJson ? 'hidden' : ''" (click)="resetForm()">Reset Form</div>
  <div class="form-group">
    <label>Output</label>
    <textarea class="form-control" rows="3" formControlName="output"></textarea>
  </div>
  <br>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  <div #mydiv></div>
  <br>
  </form> -->
 
  <div class="alert alert-dark" role="alert" *ngIf="info" style="padding: 0em;">
    {{info}}
  </div>
  <br>
    <form [formGroup]="decForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" formControlName="base64Check">
        <label class="form-check-label" style="font-size:14px;">Is this Base64 encoded Data.</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" formControlName="dualCheck">
        <label class="form-check-label" style="font-size:14px;">Dual Decryption</label>
      </div>
    </div>
    <div class="col-md-7" *ngIf="session_id">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Please enter session id" style="height: 30px; font-size: 12px;" formControlName="sessionId">

      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label>Encryted Data</label>
        <textarea class="form-control" rows="21" formControlName="queryBox" style="font-size:14px;"></textarea>
      </div>
    </div>
    <div class="col-md-1">
    <br>
      <div class="row" style="margin-top: 4em; margin-left: 2px;">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Convert</button>
        </div>
        <div class="col-md-12 mt-2">
          <div class="btn btn-success btn-sm" [ngClass]="!isJson ? 'hidden' : ''" (click)="prettifyJSON()" *ngIf="!prettifyMode">Prettify</div>
        </div>
        <div class="col-md-12 mt-2">
          <div class="btn btn-danger btn-xs" [ngClass]="!isJson ? 'hidden' : ''" (click)="resetForm()" *ngIf="!prettifyMode">Reset</div>
        </div>
        <div class="col-md-12 mt-2">
          <div class="btn btn-danger btn-xs" [ngClass]="!isJson ? 'hidden' : ''" (click)="resetPrettify()" *ngIf="prettifyMode">Back</div>
        </div>
        <div class="col-md-12 mt-2">
          <div class="btn btn-success btn-xs" [ngClass]="!isJson ? 'hidden' : ''" (click)="depth()" *ngIf="prettifyMode">Depth</div>
        </div>
        </div>
    </div>
    <div class="col-md-5">
      <div class="form-group" *ngIf="!prettifyMode;else mydiv;">
        <label>Output </label>
        <div class="btn btn-default btn-xs" *ngIf="formattedData" (click)="copyText()">Copy</div>
        <textarea class="form-control" rows="21" formControlName="output" style="font-size:14px;"></textarea>
      </div>
      <div id="mydiv"></div>
    </div>
    <br>
    <br>

    <br>
   
    <!-- <div class="form-group">
      <label>Output</label>
      <textarea class="form-control" rows="3" formControlName="output"></textarea>
    </div> -->
    <br>
  </div>
  <br>
 
 
  
  <!-- <div [innerHtml]="formattedData"></div> -->
  <!-- <textarea class="form-control" rows="15" id="jsontext" [innerHtml]="jsonData | json"></textarea> -->
  <br>
</form>
<!-- <iframe> -->
  <ng-template #mydiv>

  </ng-template>
<!-- </iframe> -->