<div class="container-fluid">
  <nav class="navbar navbar-light bg-light" style="justify-content: flex-start;">
    <a class="navbar-brand mb-0 h1" routerLinkActive="active" routerLink="decrypt">B2cDecrypt Tool</a>
    <a class="navbar-brand mb-0 h1" routerLinkActive="active" routerLink="compress">Compress Text</a>
    <!-- <form [formGroup]="tForm">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="toggleBox">
      <label class="form-check-label" for="flexSwitchCheckDefault">{{tForm.value.toggleBox  ? "New View" : "OLD View"}}</label>
    </div>
  </form> -->
  </nav>
  <router-outlet></router-outlet>
</div>